node_modules/
uploads/
.env
*.log
server.log
client.log
build/
/.idea/
/.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/
*.tgz
__pycache__/
.DS_Store
Thumbs.db
/*.zip
*.pyc
/.local/
.cache/
*.ipynb